/* Body */
body {
    font-family: Poppins, sans-serif;
    background-color: #2e2e2e;
    color: #dddddd;
}

/* Links */
a {
    text-decoration: none;
    color: #dddddd;
}

.icon-link:hover,
.link-hov:hover {
    color: #a6ffff;
}

.link-in-text {
    font-weight: 600;
}


/* Status */
.in-progress {
    color: rgb(255, 255, 131);
    font-weight: 200;
 }

 .done {
    color: rgb(91, 229, 91);
    font-weight: 200;
 }

/* Title */
#title {
    text-align: center;
    margin: 60px 0px;
}

/* Projects */
#projects {
    display: flex;
    justify-content: center;
}

.projects-section {
    background-color: #222222;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    max-width: 1000px;
    min-width: 325px;
    padding: 30px 80px;
}

.projects-title {
    font-weight: 400;
    font-size: 30px;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    align-self: center;
    flex-direction: column;
}

.projects {
    margin: 30px;
}

.project {
    margin-bottom: 30px;
}

.project-name {
    font-size: 24px;
    margin: 0;
}

.project-desc {
    font-size: 15px;
    margin: 0;
    max-width: 700px;
}

.icon-link {
    color: #dddddd;
    margin-left: 50px;
}

.proj-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

hr {
   margin: 20px 0 0;
   padding: 0;
}

/* Footer */
.footer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
 }

.footer-item {
    color: #5b5b5b;
    margin: 0 20px;
 }

 